*, html {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

h1, h2 {
  font-weight: bold;
  letter-spacing: 15px;
}

h1 {
  font-size: 80px;
}

h2 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

button {
  background-color: #9CC9E9;
  border: none;
  padding: 20px;
  border-radius: 100px;
  font-weight: bold;
  letter-spacing: 3px;
}

.lighter-blue {
  color: #CAE1F1;
}

.light-blue {
  color: #9CC9E9;
}

.main-blue {
  color: #0898FF;
}

.dark-blue {
  color: #145287;
}

.darker-blue {
  color: #07213D;
}

.light-grey {
  color: #DCDBDD;
}

.grey {
  color: #939BA1;
}

.dark-grey {
  color: #2A2A2A;
}

.box-hover-shadow {
  transition: 0.2s;
}
.box-hover-shadow:hover {
  box-shadow: 0px 6px rgba(7, 33, 61, 0.5);
  transform: translateY(-3px);
}

.text-hover-shadow {
  transition: 0.2s;
}
.text-hover-shadow:hover {
  text-shadow: 0px 6px rgba(7, 33, 61, 0.5);
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding: 50px;
  max-width: 800px;
}

.section-text {
  max-width: 1200px;
  padding: 0 50px;
}
.section-text h1 {
  text-shadow: 0px 10px rgba(20, 82, 135, 0.7);
  margin: 20px 0;
}

.program-title {
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 15px;
}

.dark-blue {
  color: #145287;
}

header {
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: white;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 20px 25px;
}
header ul {
  display: flex;
  list-style: none;
  margin: 0;
}
header ul li {
  padding-left: 15px;
  padding-right: 15px;
}
header ul li a {
  color: #145287;
  border-bottom: 2px solid transparent;
  transition: 0.15s;
}
header ul li a:hover {
  color: #145287;
  border-bottom: 2px solid #145287;
}

#landing {
  background-image: linear-gradient(to bottom, rgba(220, 219, 221, 0.5), rgba(20, 82, 135, 0.5)), url("/media/rice university sunset.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
#landing img {
  max-width: 225px;
}

#programs .program-boxes {
  min-height: 300px;
  color: white;
  text-align: center;
}
#programs .program-boxes .program-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
#programs .program-boxes .program-box .program-text {
  max-width: 430px;
}
#programs .program-boxes .program-box a {
  color: white;
}
#programs .program-boxes .program-box:nth-child(1) {
  background-color: #9CC9E9;
}
#programs .program-boxes .program-box:nth-child(2) {
  background-color: #0898FF;
}
#programs .program-boxes .program-box:nth-child(3) {
  background-color: #145287;
}

#about {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

footer {
  background-color: #145287;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer a {
  color: white;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}
footer a:hover {
  color: #9CC9E9;
}
footer a.underline-hover:hover {
  border-bottom: 2px solid #9CC9E9;
}
footer .navigate-links li {
  margin: 10px 0;
}
footer .icons {
  display: flex;
  font-size: 32px;
  justify-content: center;
  align-items: center;
}
footer .icons li {
  padding: 0px 10px;
}/*# sourceMappingURL=styles.css.map */